.nav {
    display: flex;
    width: 300px;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
    background-color: #dccf84;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 30px;
    border: solid 2px #424242;
    box-shadow: 0 0 37px 0 rgba(255, 255, 255, 0.49);
}

.navElement {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 16px;
    color: #4d594d;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    margin-left: 120px;
}


.p {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 20px;
    color: yellowgreen;
}

li {
    color: black;

}