@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 350px;
    height: 500px;
    align-items: center;
    text-align: center;
    /* border: 2px solid white;*/
    background-color: #dccf84;
    border-radius: 10px;
    border: solid 2px #424242;
    box-shadow: 0 0 37px 0 rgba(255, 255, 255, 0.49);


}

.btn {
    padding: 5px 10px;
    font-family: 'Mochiy Pop P One', sans-serif;

}

.inputEmail, .inputPassword {
    width: 200px;
    padding: 5px;
    font-family: 'Mochiy Pop P One', sans-serif;
}


p {
    font-size: 12px;
}

a {
    text-decoration: none;
}


