.superInput {
    width: 150px;
    margin-left: 5px;
    display: inline-block
}
.input:focus {
    outline: none;
    border: #8b2700 solid 2px;
}

.errorInput {
    border: 3px solid #1c0d03;
    background: red;
    color: #00008b
}

.error {
    color: red;
}

