.wrapper {
    display: flex;
    justify-content: center;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.btns {
    display: flex;
    gap: 1em;
    /*min-width: 100px;*/
    justify-content: space-evenly;
    padding: 1em;
}


.rightBlock {
    display: flex;
    min-width: 600px;
    width: 100%;
}
.decks {
    background-color: white;
    padding: 1em 0;
}

.element {
    padding: 1em;
    display: flex;
}
.elementPart {
    width: 250px;
}
.tableCaption{
    display: flex;
    flex-direction: row;
}
.captionElement {
    width: 250px;
    padding: 1em;
}

.btn {
    padding: 0 10px 0 10px;
    margin-left: 10px;
}

.searchInputSection {
    display: flex;
    flex-direction: row;
    margin: 1em 1em 1em 0;

}

.inputSearch {
    min-width: 45.5em;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0 1em;
    border: 2px solid black;
    padding-left: 3em;
    background: url(../../assets/magnifier.png) no-repeat 3px 1px;
    background-size: auto 90%;
}
.textArea {
    border: 2px solid black;
    text-align: center;
    margin-right: 0.5em;

}

@media (max-width: 1250px){
    .wrapper {
        flex-direction: column;
    }
}