.table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    grid-template-columns:
    minmax(150px, 2.5fr)
    minmax(150px, 0.8fr)
    minmax(150px, 2.5fr)
    minmax(150px, 1.7fr)
    minmax(200px, 2fr);
    background-color: #94d978;
}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: white;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: #23341e;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #23341e;
}

tr:nth-child(even) td {
    background: #3f9659;
}
.btns {
    display: flex;
    justify-content: space-between;
}
.header3 {
    padding: 1em;
    font-size: 20px;
    color: #23341e;
    background-color: white;

}
.searchInputSection {
    display: flex;
    flex-direction: row;
    margin: 1em 1em 1em 0;

}

.inputSearch {
    min-width: 45.5em;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0 1em;
    border: 2px solid black;
    padding-left: 3em;
    background: url(../../assets/magnifier.png) no-repeat 3px 1px;
    background-size: auto 90%;
}
.textArea {
    min-width: 200px;
    border: 2px solid black;
    text-align: center!important;
    margin-right: 0.5em;
    font-family: 'Mochiy Pop P One', sans-serif;

}/*
.wrapper {
    max-width: 1600px;
    width: 100%;
    padding: 0 2em;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 1600px){
    .wrapper {
        flex-direction: column;
    }
}*/
.rightBlock {
    display: flex;
  /*  min-width: 600px;*/
    width: 100%;
    background-color: white;
}