@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.app {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background-image: url("assets/science.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    justify-content: center;

}

.layout {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

h2, span {
    color: #233319;
    font-family: 'Mochiy Pop P One', sans-serif;
}

h3 {
    color: #23341e;
    font-size: 28px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

p {
    font-size: 12px;
    color: #4b5645;
}

a:hover {
    color: #233319;
}
