.default {
    background: saddlebrown;
    color: gold;
}

.red {
    background: red;
}

.button {
    position: relative;
    margin: 10px;
    cursor: pointer;
}

.button:disabled {
    color: coral;
    opacity: 20%;
    cursor: auto;
}